body {
	background: url('../images/imgBackground.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	box-sizing: border-box;
	font-family: arial;
}

header { padding: 0px;
         border-bottom: 4px solid #000000;
		 text-align: center;
	}	

#nav {	text-align:center;
		margin:0 auto;
		list-style:none;
		margin-top: 10px;
	}
#nav li{
		display:inline-block;
}
#nav a{	margin-left: 30px;
		text-decoration:none; 
		font-size:20px;
}
.topcorner{
    position:absolute;
    top:10px;
    right: 10px;
 }
 .topcornerlogout{
    position:absolute;
    top:30px;
    right: 10px;
 }
 .subject {
	max-width: 1200px;
	margin: 80px auto;
	background:rgba(255,255,255,0.6);
	padding: 20px 30px;
	 
 }
 #tab {
	 display: inline-block;
	 margin-left: 40px;
 }
	 